language: node_js

sudo: required
dist: trusty

node_js:
  - "4"
  - "5"
  - "6"

sudo: false

cache:
  directories:
    - node_modules

env:
  - DIALECT=mysql
  - DIALECT=postgres
  - DIALECT=postgres-native
  - DIALECT=sqlite
  - DIALECT=mariadb
  - DIALECT=mssql

addons:
  postgresql: "9.4"
  apt:
    packages:
      - libpq-dev

before_script:
  - "mysql -e 'create database sequelize_test;'"
  - "psql -c 'create database sequelize_test;' -U postgres"
  - "psql sequelize_test -c 'create extension postgis;' -U postgres"

script:
  - "npm test"

matrix:
  fast_finish: true
  include:
    - node_js: "0.10"
      env: COVERAGE=true
  allow_failures:
    - node_js: "0.10"
      env: COVERAGE=true
